<!DOCTYPE html>
<html lang="en" data-ng-app="esDmsApp">
<head>
    <title>ElasticSearch Dms Client</title>
    <link rel="stylesheet" href="css/es-dms-site.css" />

    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
	
	<link rel="stylesheet" href="css/jquery.fileupload-ui.css" />
	<!-- CSS adjustments for browsers with JavaScript disabled -->
	<noscript>
		<link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css" />
	</noscript>
</head>
<body data-authentication-directive="" data-ng-controller="mainController">
	    <!-- Navigation bar -->
	    <div class="navbar" data-ng-controller="navbarController" data-bs-navbar="">
	        <div class="navbar-inner">
	            <a class="brand" href="#">ElasticSearch Dms Client</a>
	            <ul class="nav">
	                <li data-ng-repeat="tab in tabs" data-match-route="{{tab.view}}">
	                	<a href="#{{tab.view}}">{{tab.title}}</a>
	                </li>
	                <li ng-show="showLogout" class="divider-vertical"></li>
					<li class="dropdown">
	                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
	                	<ul class="dropdown-menu">
			                <li data-ng-repeat="tab in adminTabs" data-match-route="{{tab.view}}">
			                	<a href="#{{tab.view}}">{{tab.title}}</a>
			                </li>
	                	</ul>
	              	</li>
					<li data-ng-show="showLogout"><a href="#" data-ng-click="logout()">Logout</a></li>
	            </ul>
	            <p data-ng-show="username" class="navbar-text pull-right">
              		Logged in as <a href="#" class="navbar-link">{{ username }}</a>
              		
              		<!--  Danilo start -->
              		<div class="popover-markup" style="margin-top:10px">

						        <a href="#" class="trigger">Welcome: {{ username }}</a>
						        
						        <div class="head hide">
						        	{{ username }} - profile
						        	</div>
						        
						        <div class="content hide" >
						            <div class="control-group"> <!-- Name -->
							        		<label class="control-label">Name:</label>
							        		<div class="controls">
							          			<input type="text" ng-model="user.name" ng-disabled="!newUser" placeholder="Name" autofocus="autofocus" />
							        		</div>
							      	</div>
							      					
										<div class="control-group">  <!-- Email -->
							        		<label class="control-label">Email:</label>
							        		<div class="controls">
							          			<input type="text" ng-model="user.email" placeholder="Email" />
							        		</div>
							      	</div>
						           
						            
						            <div class="control-group"> <!-- Roles -->
							        		<label class="control-label">Roles:</label>
							        		<div class="controls">
							        			<select multiple="multiple">
							        				<option data-ng-repeat="role in user.roles">{{
							            				role.id }}</option>
							        			</select>
							        		</div>
						      		</div>
						            
						             <div class="editable-buttons">
						            	<button type="submit" class="btn btn-primary editsble-submit">
						            		<i class="icon-ok icon-white"></i>
						            	</button>
						            	<button type="button" class="btn editsble-cancel">
						            		<i class="icon-remove"></i>
						            	</button>
						            </div>

						        </div>
								  <div class="footer hide">
								  		<!-- div class="modal-footer">
										    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
										    <button class="btn btn-primary">Save changes</button>
										 </div-->
										 test
								  </div>
						</div>
						<!--  Danilo end -->              		
            	</p>
	        </div>
	    </div>
	    <div>
	        <!-- Placeholder for views -->
	        <div id="content" data-ng-view="">
	        </div>
	        
			<div id="loginHolder" class="modal hide fade" data-ng-include src="'views/authentication/login.html'">
			</div>

			<a id="loginButton" ng-show="false" href="#loginHolder" role="button" class="btn btn-primary" data-toggle="modal">Login</a>
	              
	    </div>
	<div class="container">
	</div>
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
	
    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-0.3.0.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.3.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/bootstrap-filestyle-0.1.0.min.js"></script>

    <script type="text/javascript" src="js/ng-upload.min.js"></script>

	<script type="text/javascript" src="js/http-auth-interceptor.js"></script>
    
	<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
	<script type="text/javascript" src="js/vendor/jquery.ui.widget.js"></script>
	<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
	<script type="text/javascript" src="js/jquery.iframe-transport.js"></script>
	<!-- The basic File Upload plugin -->
	<script type="text/javascript" src="js/jquery.fileupload.js"></script>
	<!-- The File Upload processing plugin -->
	<script type="text/javascript" src="js/jquery.fileupload-process.js"></script>
	<!-- The File Upload image resize plugin -->
	<script type="text/javascript" src="js/jquery.fileupload-resize.js"></script>
	<!-- The File Upload validation plugin -->
	<script type="text/javascript" src="js/jquery.fileupload-validate.js"></script>
	<!-- The File Upload Angular JS module -->
	<script type="text/javascript" src="js/jquery.fileupload-angular.js"></script>

    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    
    <script type="text/javascript" src="js/custom.js"></script></script>
</body>
</html>
