<div>
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="close()" aria-hidden="true">&times;</button>
    <h3>Add Version - {{document.id}}</h3>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <!-- Name -->
      <label class="control-label">Name:</label>
      <div class="controls">
          <input type="text" ng-model="version.name" placeholder="Version name" autofocus="autofocus" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">File:</label>
      <div class="controls">
        <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white"></i>
          <input type="file" ng-file-select="onFileSelect($files)" >
          <span>Add file...</span>
        </span>
      </div>
    </div>
    <div class="control-group" ng-show="dropSupported">
      <div class="drop-box" ng-file-drop="onFileSelect($files);" ng-show="dropSupported">drop files here</div>
      <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
    </div>
    <div class="control-group">
      <span ng-show="uploadMessage">{{ uploadMessage }}</span>
      <div ng-show="percentage">
        <progress percent="percentage"></progress>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary pull-left" ng-click="upload()">Upload</button>
    <button type="button" class="btn" data-ng-click="close()">Close</button>
  </div>
</div>
