<div>
	<div close="close()">
		<div class="modal-header">
			<button type="button" class="close" data-ng-click="close()"
				aria-hidden="true">&times;</button>
			<h2>File Upload</h2>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label">File:</label> <span
					class="btn btn-success fileinput-button"> <i
					class="icon-plus icon-white"></i> <input type="file" name="file"
					data-url="api/documents/upload" multiple esdms-upload><span>Add
						files...</span>
				</span>
			</div>
			<div>
				<span ng-show="!files.length">No files selected</span>
				<ul>
					<li ng-repeat="file in files">{{file}}</li>
				</ul>
			</div>
			<div class="progress" ng-show="percentage">
				<div class="bar" style="width: {{percentage"></div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn" data-ng-click="close()">Close</button>
			<button type="submit" class="btn btn-primary pull-left"
				ng-click="upload()">Upload</button>
		</div>
	</div>
</div>
