<div modal="shouldBeOpen" close="close()" options="opts">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="close()" aria-hidden="true">&times;</button>
		<h4>New document</h4>
			<alert data-ng-show="$parent.showAlert" type="alert.type" close="closeAlert()">{{alert.msg}}</alert>
	</div>
	<form class="form-horizontal" action="api/documents/upload" enctype="multipart/form-data"
				ng-upload>
		<div class="modal-body">
			<div class="control-group">
	       		<label class="control-label">Name:</label>
	       		<div class="controls">
	         			<input type="text" ng-model="newDocument.name" placeholder="Name" autofocus="autofocus" />
	       		</div>
     		</div>				
			<div class="control-group">
        		<label class="control-label">Date:</label>
        		<div class="controls">
					<div class="control-group input-append">
						<input type="text" name="date" data-ng-model="newDocument.date"
							data-date-format="mm/dd/yy" class="datepicker" bs-datepicker="" />
						<button type="button" class="btn" data-toggle="datepicker">
							<i class="icon-calendar"></i>
						</button>
					</div>
        		</div>
			</div>				
			<div class="control-group">
        		<label class="control-label">File:</label>
        		<div class="controls">
          			<input type="file" name="file" id="file" /> 
        		</div>
      		</div>				
		</div>
		<div class="modal-footer">
			<button type="button" class="btn" data-ng-click="close()">Close</button>
			<input type="submit" class="btn btn-primary" value="Save" upload-submit="uploadComplete(content, completed)" />
		</div>
	</form>
</div>

<button data-ng-click="open()" class="btn btn-primary">New Document</button>

<script>
       /*jQuery(function($) {
          $(':file').filestyle();
       });*/
</script>