<div modal="shouldBeOpen" close="close()" options="opts">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="close()"
			aria-hidden="true">&times;</button>
		<h4>New document</h4>
		<alert data-ng-show="$parent.showAlert" type="alert.type"
			close="closeAlert()">{{alert.msg}}</alert>
	</div>
	<form class="form-horizontal" action="api/documents/_upload"
		enctype="multipart/form-data" method="post" data-fileupload="options"
		ng-class="{true: 'fileupload-processing'}[!!processing() || loadingFiles]">
		<div class="modal-body">
			<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
			<div class="row fileupload-buttonbar">
				<div class="span7">
					<!-- The fileinput-button span is used to style the file input field as button -->
					<span class="btn btn-success fileinput-button"> <i
						class="icon-plus icon-white"></i> <span>Add files...</span> <input
						type="file" name="file" multiple>
					</span>
					<button type="button" class="btn btn-primary start"
						data-ng-click="submit()">
						<i class="icon-upload icon-white"></i> <span>Start upload</span>
					</button>
					<button type="button" class="btn btn-warning cancel"
						data-ng-click="cancel()">
						<i class="icon-ban-circle icon-white"></i> <span>Cancel
							upload</span>
					</button>
					<!-- The loading indicator is shown during file processing -->
					<div class="fileupload-loading"></div>
				</div>
				<!-- The global progress information -->
				<div class="span5 fade" data-ng-class="{true: 'in'}[!!active()]">
					<!-- The global progress bar -->
					<div class="progress progress-success progress-striped active"
						data-progress="progress()">
						<div class="bar" ng-style="{width: num + '%'}"></div>
					</div>
					<!-- The extended global progress information -->
					<div class="progress-extended">&nbsp;</div>
				</div>
			</div>
			<!-- The table listing the files available for upload/download -->
			<table class="table table-striped files ng-cloak"
				data-toggle="modal-gallery" data-target="#modal-gallery">
				<tr data-ng-repeat="file in queue">
					<td data-ng-switch on="!!file.thumbnail_url">
						<div class="preview" data-ng-switch-when="true">
							<a data-ng-href="{{file.url}}" title="{{file.name}}"
								data-gallery="gallery" download="{{file.name}}"><img
								data-ng-src="{{file.thumbnail_url}}"></a>
						</div>
						<div class="preview" data-ng-switch-default data-preview="file"></div>
					</td>
					<td>
						<p class="name" data-ng-switch on="!!file.url">
							<a data-ng-switch-when="true" data-ng-href="{{file.url}}"
								title="{{file.name}}" data-gallery="gallery"
								download="{{file.name}}">{{file.name}}</a> <span
								data-ng-switch-default>{{file.name}}</span>
						</p>
						<div ng-show="file.error">
							<span class="label label-important">Error</span> {{file.error}}
						</div>
					</td>
					<td>
						<p class="size">{{file.size | formatFileSize}}</p>
						<div
							class="progress progress-success progress-striped active fade"
							data-ng-class="{pending: 'in'}[file.$state()]"
							data-progress="file.$progress()">
							<div class="bar" ng-style="{width: num + '%'}"></div>
						</div>
					</td>
					<td>
						<button type="button" class="btn btn-primary start"
							data-ng-click="file.$submit()" data-ng-hide="!file.$submit">
							<i class="icon-upload icon-white"></i> <span>Start</span>
						</button>
						<button type="button" class="btn btn-warning cancel"
							data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
							<i class="icon-ban-circle icon-white"></i> <span>Cancel</span>
						</button>
						<button data-ng-controller="fileDestroyController" type="button"
							class="btn btn-danger destroy" data-ng-click="file.$destroy()"
							data-ng-hide="!file.$destroy">
							<i class="icon-ban-circle icon-white"></i> <span>Delete</span>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn" data-ng-click="close()">Close</button>
		</div>
	</form>
</div>
<button class="btn btn-primary" data-ng-click="open()">Multi
	File Upload</button>