/* Main Stylesheet */
@import url('../bower_components/blueimp-file-upload/css/jquery.fileupload-ui.css');

/* Add top padding for navbar-top-fixed */
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/* Remove top padding when top navbar goes static in narrow viewports */
@media ( max-width : 979px) {
	body {
		padding-top: 0;
	}
}

.sidebar-nav {
	padding: 9px 0;
}

/* Used in document preview to highlight terms */
.highlight-tag {
  font-style: italic;
  font-weight: bolder;
}

/* Custom position for Toaster */
.toast-top-right {
  padding-top: 50px;
}
