@CHARSET "ISO-8859-1";

/*
 * This CSS file is for customization purpose only
 * CSS3 custom updates developed by D.Sandron Informa Co. Ltd.
 * 4/2011.
 */

img.vsmall_border{
    /*border-radius: 3px;*/  
    box-shadow: 3px 3px 7px #777; 
}

img.small_border{
    border-radius: 10px;  
    box-shadow: 3px 3px 7px #777; 
}

img.big_border{
    border-radius: 22px;  
    box-shadow: 3px 3px 7px #777; 
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 2px #CCC;
}

.itable{
    display:table;
}

.icell120{
    display:table-cell;
    width:120px;
    /*padding-right:10px;*/
    vertical-align:top;
}

.icell180{
    display:table-cell;
    width:180px;
    padding-right:10px;
    vertical-align:top;
    overflow: hidden;
}

.icell245{
    display:table-cell;
    width:245px;
    margin:auto;
    vertical-align:top;
    overflow: hidden;
}

.icell{
    display:table-cell;
    width:400px;
    padding-right:10px;
    margin-right: 10px;
    vertical-align:top;
    overflow: hidden;
}

.icell500{
    display:table-cell;
    width:500px;
    padding-right:10px;
    margin-right: 10px;
    vertical-align:top;
    overflow: hidden;
}

.icellSpace{
    display:table-cell;
    overflow: hidden;
}
   
.iheader{
     border: 0px solid #434343;
     padding: 5px;
     background: #e3e3e3;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
}

.iaside{
     font-size: 0.70em;
     border: 0px solid #ffffff;
     padding: 5px;
     background: #ffffff;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     box-shadow:5px 5px 10px #aaa;
     -webkit-box-shadow:5px 5px 10px  #aaa;
     -moz-box-shadow: 5px 5px 10px  #aaa;
}

.ifooter:hover
{
   background: #111;
}

.ifooter{
     border: 0px solid #ffffff;
     margin: 5px;
     padding: 5px;
     background: #0;
     min-height:160px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     box-shadow:3px 3px 5px #111;
     //-webkit-box-shadow:3px 3px 5px  #aaa;
     -moz-box-shadow: 3px 3px 5px  #aaa;
}

.icontent{
     border: 0px solid #f5f5f5;
     padding-top: 10px;
     padding-left: 10px;
     background: #f5f5f5;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     box-shadow:5px 5px 10px #aaa;
     -webkit-box-shadow:5px 5px 10px  #aaa;
     -moz-box-shadow: 5px 5px 10px  #aaa;
}

.transparent
{ 
  -moz-opacity:0.5; /* Safari 1.x (pre WebKit!) */ 
  -khtml-opacity: 0.5; /* Modern! /* Firefox 0.9+, Safari 2?, Chrome any? /* Opera 9+, IE 9+ */ 
  opacity: 0.5; 
 }
 
 .transparent:hover
 {
  -moz-opacity: 1; /* Safari 1.x (pre WebKit!) */ 
  -khtml-opacity: 1; /* Modern! /* Firefox 0.9+, Safari 2?, Chrome any? /* Opera 9+, IE 9+ */ 
  opacity: 1; 
 }

.ihighlight
 {
 }

.ihighlight:hover
 {
  border: 0px solid #ffffff;
     padding: 5px;
     background: #ffffff;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     box-shadow:5px 5px 10px #aaa;
     -webkit-box-shadow:5px 5px 10px  #aaa;
     -moz-box-shadow: 5px 5px 10px  #aaa; 
 }


/*** End of custom updates ***/

#logo a.logo-icon {
	display: block;
	width: 240px;
	height: 100px;
	background: url(../../../images/yootheme/logo.png) 0 0 no-repeat;
}
.style-blue #logo a.logo-icon { background-image: url(../../../images/yootheme/logo_blue.png); }
.style-green #logo a.logo-icon { background-image: url(../../../images/yootheme/logo_green.png); }
.style-orange #logo a.logo-icon { background-image: url(../../../images/yootheme/logo_orange.png); }
.style-pink #logo a.logo-icon { background-image: url(../../../images/yootheme/logo_pink.png); }
.style-turquoise #logo a.logo-icon { background-image: url(../../../images/yootheme/logo_turquoise.png); }

/* rss + twitter toolbar icons */
#toolbar a.rss,
#toolbar a.twitter {
	display: inline-block;
	margin-top: 7px;
}

/* demo content: spotlight teaser */
#headerbar .spotlight .teaser {
	height: 300px;
	background: url(../../../images/yootheme/home_header_spotlight_blog.jpg) 0 0 no-repeat;
}

.background-desert #headerbar .spotlight .teaser { background-image: url(../../../images/yootheme/home_header_spotlight_desert.jpg) }
.background-grass #headerbar .spotlight .teaser { background-image: url(../../../images/yootheme/home_header_spotlight_grass.jpg) }
.background-stadium #headerbar .spotlight .teaser { background-image: url(../../../images/yootheme/home_header_spotlight_stadium.jpg) }
.background-worldmapblue #headerbar .spotlight .teaser { background-image: url(../../../images/yootheme/home_header_spotlight_worldmapblue.jpg) }
.background-worldmapwhite #headerbar .spotlight .teaser { background-image: url(../../../images/yootheme/home_header_spotlight_worldmapwhite.jpg) }
.background-street #headerbar .spotlight .teaser { background-image: url(../../../images/yootheme/home_header_spotlight_street.jpg) }
.background-fabricdark #headerbar .spotlight .teaser { background-image: url(../../../images/yootheme/home_header_spotlight_fabricdark.jpg) }
.background-squares #headerbar .spotlight .teaser { background-image: url(../../../images/yootheme/home_header_spotlight_squares.jpg) }
.background-concert #headerbar .spotlight .teaser { background-image: url(../../../images/yootheme/home_header_spotlight_concert.jpg) }


/* demo content: icons page */
.iconbox {
	padding: 19px;
	border: 1px solid #E5E5E5;
	background: #FAFBFB;
	overflow: hidden; 
}

/* demo content: social bookmarks */
#socialbookmarks a {
	display: block;
	height: 30px;
	width: 30px;
	background: url(../../../images/yootheme/socialbookmarks.png) 0 0 no-repeat;
}

#socialbookmarks a.twitter:hover { background-position: 0 -30px; }
#socialbookmarks a.facebook { background-position: 0 -60px; }
#socialbookmarks a.facebook:hover { background-position: 0 -90px; }
#socialbookmarks a.flickr { background-position: 0 -120px; }
#socialbookmarks a.flickr:hover { background-position: 0 -150px; }
#socialbookmarks a.linkedin { background-position: 0 -180px; }
#socialbookmarks a.linkedin:hover { background-position: 0 -210px; }
#socialbookmarks a.myspace { background-position: 0 -240px; }
#socialbookmarks a.myspace:hover { background-position: 0 -270px; }