/* Main Stylesheet */
/* Import Bootstrap styles and Responsive styles */
@import url('bootstrap.css');
@import url('bootstrap-responsive.css');

/* Add top padding for navbar-top-fixed */
/*body {
  padding-top: 60px;
  padding-bottom: 40px;
}*/

/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

.popover {
	max-width: 800px;
	width: auto;
}

.tags {
    margin: 10px 0;
}
.tags .tag {
    border-radius: 6px;
    background-color: #EFEFEF;
    border: 1px solid #DDD;
    padding: 5px;
    margin-right: 10px;
}
.tags .tag:hover {
    color: red;
    text-decoration: none;
}