<div class="container" data-ng-controller="roleController">
    <h2>Roles</h2>
	<form class="form-search">
		<input type="text" data-ng-model="criteria" />
		<button type="button" class="btn btn-primary" data-ng-click="find()">Search</button>
	</form>

    <table class="table table-condensed">
    	<thead>
    		<tr>
    			<th>Id</th>
    			<th>Name</th>
    			<th>Actions</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr data-ng-repeat="role in roles | filter: filter.name | orderBy: 'name'">
    			<td>{{ role.id }}</td>
    			<td>{{ role.name }}</td>
    			<td>
    				<button class="btn btn-primary" data-ng-click="edit(role.id)" data-toggle="modal" href="#editModal">
    					<i class="icon-pencil icon-white"></i> Edit
    				</button>
    			</td>
    		</tr>
    	</tbody>
    </table>
    <br />

	<button class="btn btn-success" ng-click="edit('new')" data-toggle="modal" href="#editModal">
        <i class="icon-user icon-white"></i>&nbsp;New Role
	</button>
	
	<div class="modal hide fade" ng-include="'views/edit-role.html'" id="editModal"></div>

</div>
