<div class="container" data-ng-controller="modalCtrl">
    <div class="btn-group">
    	<button type="button" class="btn btn-success" data-bs-modal="'views/login.html'">Login</button>
    	<button type="button" class="btn btn-inverse" data-bs-modal="'views/edit-user.html'">New User</button>
    	<button type="button" class="btn btn-primary" data-bs-modal="'views/new-document.html'">New Document</button>
    	<button type="button" class="btn" data-ng-click="testHttp401()">Test HTTP 401</button>
    </div>
</div>
<div data-ng-controller="AlertDemoCtrl">
    <alert data-ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <button class='btn' data-ng-click="addAlert()">
        Add Alert</button>
</div>
