<div class="container" data-ng-controller="modalCtrl">
    <div class="btn-group">
    	<button type="button" class="btn btn-success" data-bs-modal="'views/authentication/login.html'">Login</button>
    	<button type="button" class="btn btn-inverse" data-bs-modal="'views/edit-user.html'">New User</button>
    	<button type="button" class="btn btn-primary" data-bs-modal="'views/documents/new-document.html'">New Document</button>
    	<button type="button" class="btn" data-ng-click="testHttp401()">Test HTTP 401</button>
    </div>
</div>
<div data-ng-controller="AlertDemoCtrl">
    <alert data-ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <button class='btn' data-ng-click="addAlert()">
        Add Alert</button>
</div>
<h2>Example of creating Modal with Twitter Bootstrap</h2>
<div ng-controller='HelloController'>
    <p>{{greeting.text}}, World</p>
 </div>

<div class="well">
	<a href="#" id="example" class="btn btn-success" rel="popover" data-content="It's so simple to create a tooltop for my website!" data-original-title="Twitter Bootstrap Popover">hover for popover</a>
</div>
<script>
$(function ()
{ $("#example").popover();
});

function HelloController($scope) {
	  $scope.greeting = { text: 'Hello' };
	}
</script>