<div data-ng-controller="mainController">

	<esdms-authentication-directive view="'views/authentication/login.html'"/>

	    <!-- Navigation bar -->
	    <div class="navbar" data-ng-controller="NavbarCtrl" data-bs-navbar="">
	        <div class="navbar-inner">
	            <a class="brand" href="#">ElasticSearch Dms Client</a>
	            <ul class="nav">
	                <li data-ng-repeat="tab in tabs" data-match-route="{{tab.view}}">
	                	<a href="#{{tab.view}}">{{tab.title}}</a>
	                </li>
	                <li data-ng-show="showLogout" class="divider-vertical"></li>
					<li class="dropdown">
	                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
	                	<ul class="dropdown-menu">
			                <li data-ng-repeat="tab in adminTabs" data-match-route="{{tab.view}}">
			                	<a href="#{{tab.view}}">{{tab.title}}</a>
			                </li>
	                	</ul>
	              	</li>
					<li data-ng-show="showLogout"><a href="#" data-ng-click="logout()">Logout</a></li>
	            </ul>
	            <p data-ng-show="username" class="navbar-text pull-right">
              		Logged in as <a href="#" class="navbar-link">{{ username }}</a>
           		
            	</p>
	        </div>
	    </div>
	    <div>
	        <!-- Placeholder for views -->
	        <div id="content" ui-view>
	        </div>
	    </div>
	<div class="container">
	</div>

</div>
